<% content_for :head do %>
<% end %>
<div style="overflow-x: auto; overflow-y: auto;width:100%;">
<table>
  <thead>
    <tr>
      <th>行政code</th>
      <th>省</th>
      <% @oiltypes.each do |item| %>
        <th><%= item.standard.name+item.name%></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @regions.each do |item| %>
    <tr>
      <td><%= link_to item.code, region_path(item)%></td>
      <td><%= item.name %></td>
      <% @oiltypes.each do |oiltype| %>
        <td><%= item.get_value oiltype%></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
